.center-container
	.subnav
		%ul.filters
			-unless params[:filter] == 'completed'
				%li
					=link_to "Open", user_url(:filter => 'outstanding'), class: "active-filter"
				%li
					=link_to "Completed", user_url(id: current_user.id, :filter => 'completed')
			-else
				%li
					=link_to "Open", user_url(id: current_user.id, :filter => 'outstanding')
				%li
					=link_to "Completed", user_url(id: current_user.id, :filter => 'completed'), class: "active-filter"
		=link_to "+ New Nag", new_nag_url, class: "newnag-btn"
	-unless @nags.blank?
		-@nags.each do |nag|
			.nag{id: "nag_#{nag.id}"}
				.borrower-photo
					=image_tag "https://graph.facebook.com/#{nag.lendee_uid}/picture?width=100&height=100"
				.nag-details
					-if nag.completed?
						=link_to "", nag_url(nag, completed: 'false'), method: :put, remote: true, class: "checkbox checked"
						%h2.nag-completed
							=link_to "#{nag.lendee_name} owes you #{nag.item}", nag
					-else
						=link_to "", nag_url(nag, completed: 'true'), method: :put, remote: true, class: 'checkbox'
						%h2
							=link_to "#{nag.lendee_name} owes you #{nag.item}", nag
					=render "due_date_partial", nag: nag
	-else
		.nag
			%h2
				You've collected all your stuff. Congrats!
			%p
				If you've got more stuff out there, go ahead and
				=link_to "add a new nag.", new_nag_url
