.center-container
  .nag{id: "nag_detail_#{@nag.id}"}
    .borrower-photo
      =image_tag "https://graph.facebook.com/#{@nag.lendee_uid}/picture?width=100&height=100"
    .nag-details
      -if @nag.completed?
        =link_to "", nag_url(@nag, completed: 'false'), method: :put, remote: true, class: "checkbox checked"
        %h2.nag-completed
          ="#{@nag.lendee_name} owes you #{@nag.item}"
      -else
        =link_to "", nag_url(@nag, completed: 'true'), method: :put, remote: true, class: 'checkbox'
        %h2
          ="#{@nag.lendee_name} owes you #{@nag.item}"
      =render "due_date_partial", nag: @nag
  .nag-actions
    =link_to "Edit", edit_nag_url(@nag)
    =link_to "Delete", nag_url(@nag), method: "delete", confirm: "Are you sure you want to delete this nag?"
    %a#show-message-preview{href: "#"}Send a reminder
  .reminder-form
    %h3
      Deadbeat friend? Let us help. We'll send them the following private Facebook message from you.
    =form_tag send_nag_url(@nag.id) do
      =text_area_tag :message, "Hi #{@nag.lendee_name.split(" ").first}!\n\nI'm using a new app called Nag to keep track of things I've loaned out. Any chance you could get me this stuff back?\n\n* #{@nag.item}\n\nAs a thank you, I'm sending you this awesome video of Maru the Cat. You can bet there's more where that came from.\n\nhttp://www.youtube.com/watch?v=8uDuls5TyNE\n\nYou're the best,\n#{@nag.user.name.split(" ").first}\n\nhttp://startnagging.com"
      .reminder-buttons
        =submit_tag "Send", disable_with: "Sending...", class: 'submit btn'
        =link_to "Cancel", '#', class: 'button btn', id: "cancel-reminder"
