.center-container
  .nag
    .borrower-photo
      =image_tag "https://graph.facebook.com/#{@nag.lendee_uid}/picture?width=100&height=100"
    .nag-details
      -if @nag.completed?
        .checkbox.checked{onclick: "javascript:changeStatus();"}
        %h2.nag-completed
          ="#{@nag.lendee_name} owes you #{@nag.item}"
      -else
        .checkbox{onclick: "javascript:changeStatus();"}
        %h2
          ="#{@nag.lendee_name} owes you #{@nag.item}"
        =render "due_date_partial", nag: @nag
  .nag-actions
    =link_to "Edit", edit_nag_url(@nag)
    =link_to "Delete", nag_url(@nag), method: "delete", confirm: "Are you sure you want to delete this nag?"
    %a#show-message-preview{href: "#"}Send a reminder
  .reminder-form
    %h3
      Deadbeat friend? Let us help. We'll send them the following private Facebook message from you.
      =form_tag send_nag_url(@nag.id) do
        =text_area_tag :message, "Hi #{@nag.lendee_name.split(" ").first}! I'm using a new app called Nag to help me keep track of my stuff. I was hoping I could get that stuff you owe me back. Otherwise, we can no longer be friends. There's some more detail at the link below, and maybe even a funny cat video to pass the time. http://localhost:3000/nag/xyzxyzxyz123 Love ya, #{@nag.user.name}"
        .reminder-buttons
          =submit_tag "Send", disable_with: "Sending...", class: 'submit btn'
          =link_to "Cancel", '#', class: 'button btn', id: "concel-reminder"

:javascript
  function changeStatus() {
    console.log('this is working');
    document.forms['nag-complete-form'].submit();
  }
