.center-container
  %h2
    -if (Time.now - (@nag.due_date + 1.second)) < 0
      ="#{@nag.lendee_name} owes you #{@nag.item} in #{distance_of_time_in_words(Time.now, @nag.due_date)}"
    -else
      ="#{@nag.lendee_name} owed you #{@nag.item} #{distance_of_time_in_words(Time.now, @nag.due_date)} ago"
  .nag-actions
    =link_to "Edit", edit_nag_url(@nag), class: "btn"
    =link_to "Delete", nag_url(@nag), method: "delete", class: "btn"
    / =link_to "Nag Now", send_nag_url(@nag.id), method: "put", class: "btn"