<!DOCTYPE html>
<html>
<head>
  <title>Nag</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset='UTF-8'>
  <meta content='width=device=width' name='viewport'>
  <title>Demo Day</title>
</head>
<body>
  <nav class='top-bar'>
    <ul>
      <li class='name'>
        <h1>
        	<%= link_to "Nag", root_url %>
        </h1>
      </li>
      <li class='toggle-topbar'>
        <a href='#'></a>
      </li>
    </ul>
    <section>
      <ul class='left'>
        <li><%= link_to 'New Nag', new_nag_url %></li>
      </ul>
      <ul class='right'>
        <% if current_user %>
          <li><%= link_to 'Settings', edit_user_url(current_user) %></li>
          <li><%= link_to 'Profile', user_url(current_user) %></li>
          <li><%= link_to 'Sign Out', signout_url %></li>
        <% else %>
          <li><%= link_to 'Sign In or Sign up', "/auth/facebook" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
    <div class='row'>
    <div class='twelve columns'>
      <dl class='sub-nav'>
        <dd>
	  		<% if current_user %>
	    		Signed in as <strong><%= current_user.name %></strong>!
	    		<%= link_to "Sign out", signout_url, id: "sign_out" %>
	  		<% else %>
        		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  		<% end %>
        </dd>
      </dl>
    </div>
  </div>
  <div class="ten columns centered">
    <%= notice %>
    <%= yield %>
  </div>

</body>
</html>
