<!DOCTYPE html>
<html>
<head>
  <title>Nag</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset='UTF-8'>
  <meta content='width=device=width' name='viewport'>
  <title>Demo Day</title>
  <link href='stylesheets/foundation.min.css' media='screen' rel='stylesheet'>
  <link href='stylesheets/app.css' media='screen' rel='stylesheet'>
  <script src='javascripts/foundation/modernizr.foundation.js'></script>
</head>
<body>
  <nav class='top-bar'>
    <ul>
      <li class='name'>
        <h1>
        	<%= link_to "Nag", root_url %>
        </h1>
      </li>
      <li class='toggle-topbar'>
        <a href='#'></a>
      </li>
    </ul>
    <section>
      <ul class='left'>
        <li><%= link_to 'New Nag', new_nag_url %></li>
      </ul>
      <ul class='right'>
        <li><%= link_to 'Settings', '#' %></li>
        <li><%= link_to 'Account', '#' %></li>
        <% if current_user %>
          <li><%= link_to 'Sign Out', signout_url %></li>
        <% else %>
          <li><%= link_to 'Sign In or Sign up', "/auth/facebook" %></li>
        <% end %>
      </ul>
    </section>
  </nav>
    <div class='row'>
    <div class='twelve columns'>
      <dl class='sub-nav'>
        <dd>
	  		<% if current_user %>
	    		Signed in as <strong><%= current_user.name %></strong>!
	    		<%= link_to "Sign out", signout_url, id: "sign_out" %>
	  		<% else %>
        		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  		<% end %>
        </dd>
      </dl>
    </div>
  </div>
<%= yield %>

  <!-- This is not production ready. This is how Zurb comes by default. -->
  <!-- TODO: Cleanup Javascript -->
  <script src='javascripts/foundation/jquery.js'></script>
  <script src='javascripts/foundation/jquery.cookie.js'></script>
  <script src='javascripts/foundation/jquery.event.move.js'></script>
  <script src='javascripts/foundation/jquery.event.swipe.js'></script>
  <script src='javascripts/foundation/jquery.foundation.accordion.js'></script>
  <script src='javascripts/foundation/jquery.foundation.alerts.js'></script>
  <script src='javascripts/foundation/jquery.foundation.buttons.js'></script>
  <script src='javascripts/foundation/jquery.foundation.clearing.js'></script>
  <script src='javascripts/foundation/jquery.foundation.forms.js'></script>
  <script src='javascripts/foundation/jquery.foundation.joyride.js'></script>
  <script src='javascripts/foundation/jquery.foundation.magellan.js'></script>
  <script src='javascripts/foundation/jquery.foundation.mediaQueryToggle.js'></script>
  <script src='javascripts/foundation/jquery.foundation.navigation.js'></script>
  <script src='javascripts/foundation/jquery.foundation.orbit.js'></script>
  <script src='javascripts/foundation/jquery.foundation.reveal.js'></script>
  <script src='javascripts/foundation/jquery.foundation.tabs.js'></script>
  <script src='javascripts/foundation/jquery.foundation.tooltips.js'></script>
  <script src='javascripts/foundation/jquery.foundation.topbar.js'></script>
  <script src='javascripts/foundation/jquery.placeholder.js'></script>
  <script src='javascripts/app.js'></script>
</body>
</html>
